img {
    vertical-align: bottom;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.page {
    background-color: #ffffff;
    color: #212121;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
@import "./components/header";
@import "./components/hero";
@import "./components/modal";
@import "./components/other";
@import "./components/footer";



.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid tomato; */
}


